@tailwind base;
@tailwind components;
@tailwind utilities;


.expand{

    width: 10rem;
    height: 15rem;
    margin: 5px;
    padding: 5px;

}

.containerInfo{

    margin-bottom: 30px;
}


.inputfieldexpand{

    width: 300px;
}